$iconSpritePath:"../images/glyphicons-halflings.png";
 $iconWhiteSpritePath:"../images/glyphicons-halflings-white.png";
 @import"customVariables";
 @import"bootstrap-sass/lib/bootstrap";
 @import"compass";

/* Put your CSS here */
 html {
    margin:0;
    padding:0;
}
body {
    background: #fafafa;
    color: #333;
    padding: $bodyMargin 7px 0 7px;
    background-color: $bodyBackground;
}
.navbar-brand {
    padding: 5px 15px;
}
.navbar {
    @include single-box-shadow(rgba(0, 0, 0, 0.08), 0px, 1px, 1px, 0px);
}
.tagBar {
    text-transform:capitalize;
    h1 {
        margin-top: 2px;
        font-weight: 200;
    }
}
.load-more {
    @include make-row;
    text-align: center;
    background-color: $postBackground;
    padding: 10px 0;
    margin-bottom: 30px;
    font-size: 19px;
    cursor:pointer;
    img {
        margin-right: 10px;
    }
}
.load-more:hover {
    color: #0083B3;
}
.alertFeeds {
    @include make-row;
    text-align:center;
    font-size: 15px;
    margin-top: 15px 20px;
}
@media (max-width: $screen-xs-max) {
    body {
        font-size: $font-size-small
    }
    .navbar .navbar-form {
        border-width: 0;
        .btn {
            width:100%
        }
    }
    .post-detail {
        padding: 5px;
    }
}