@import "compass";
@import "customVariables";
@import "../bower_components/bootstrap-sass/lib/_variables";
@import "../bower_components/bootstrap-sass/lib/_mixins";

.post-preview {
    @include make-row;    
    @include border-radius(2px,2px);
    background-color: $postBackground;
    border: solid 1px  darken($postBackground, 10%);
    padding: 15px 0;
    height: $postImageHeight + 2;
    margin-bottom: 5px;
    overflow: hidden;
    .row {
        margin: 10px 0;
    }
}


  .post-preview__image {
    position:relative;
    margin: -15px 0;
    @include make-xs-column(4, -15);
    @include make-sm-column(3, -15);
    @include make-lg-column(2, -15);
    height: $postImageHeight;
    overflow: hidden;
        img{
            min-height: $postImageHeight;      
        }
    }
    .post-preview__info{
        @include make-xs-column(8);
        @include make-sm-column(9, -15);
        @include make-lg-column(9, -15);
        padding: 5px 0 0px 5%;
    }
    
        .post-preview__info__title{
            @include make-xs-column(12);
            @include ellipsis;
            font-size: 20px;
        }
        .post-preview__info__author{
            @include make-xs-column(8);
            @include make-sm-column(3);
        }

        .post-preview__info__date--not-xs {
            @include make-sm-column(6);
            @media (max-width: $screen-xs-max) {
                display: none;
            }
        }

        .post-preview__info__date--xs {
            @include make-xs-column(12);
            @media (min-width: $screen-xs-max) {
                display: none;
            }
        }
    
        .post-preview__info__flickr{
            @include make-xs-column(4);
            @include make-sm-column(3);

        }


@media (max-width: $screen-xs-max) {
    .post-preview__info{
        padding: 0;
    }
    
    .post-preview__info__title{
            font-size: 18px;
        }
    
      .post-preview__image {
        img{
            min-width:$container-tablet * 0.33;
            min-height: $postImageHeight;      
        }
    }

}

@media (min-width: $screen-tablet) and (max-width: $screen-desktop) {    
      .post-preview__image {
        img{
            min-width:$container-desktop * 0.25;
            min-height: $postImageHeight;      
        }
    }
}
    
@media (min-width: $screen-desktop) and (max-width: $screen-lg) {    
      .post-preview__image {
        img{
            min-width:$container-lg-desktop * 0.25;
            min-height: $postImageHeight;      
        }
    }
}

@media (min-width: $screen-lg) {    
      .post-preview__image {
        img{
            min-width:$container-lg-desktop * 0.2;
            min-height: $postImageHeight;      
        }
    }
}
